:root {
	/* js used to change these when game is lost */
	--background-grad-1: #000099;
	--background-grad-2: #4D4DFF;
	--background-grad-3: #BFBFFF;
}



canvas {
	border: 10px solid black;
	margin: auto;
	display: block;
	width: 600px;
	height: 600px;
	background-color: white;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	margin: auto;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	width: min-content;
}

body {
	overflow-x: hidden;
	background-image: radial-gradient(var(--background-grad-1), var(--background-grad-2), var(--background-grad-3) );
}

.memeHolder {
	overflow: hidden;
	max-width: 100%;
}

.memeScroll {
	position: absolute;
	animation-name: scroll;
	animation-iteration-count: infinite;
	z-index: -1;

}

#hulk {
	top: 30px;
	animation-duration: 30s;
	max-width: 200px;
	max-height: 200px;
}

#spartan {
	top: 500px;
	animation-duration: 35s;
	max-width: 200px;
	max-height: 200px;
}

#gru {
	top: 250px;
	animation-duration: 40s;
	max-width: 200px;
	max-height: 200px;
}

@keyframes scroll {
	from  {transform: translate(-250px)}
	to   {transform: translate(100vw)}
}

#timer {
	margin: auto;
	display: block;
	text-align: center;
	color: red;
	font-size: 24px;
}

#playAgain {
	margin: auto;
	display: block;
	font-size: 24px;
}


